h1
{
    color:blue;
    font-family: Tahoma;
}
body
{
background-color:deepskyblue;
}

a
{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14pt;
    color: lightskyblue;
    padding: 10px;
}